.timeline {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
}

.timeline-event {
  display: flex;
  position: relative;
  min-height: 70px;
}

.timeline-event:last-child {
  min-height: 0;
}

.timeline-content {
  flex: 1;
  padding: 1rem;
}

.timeline-point-track-container {
  flex: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timeline-point {
  display: flex;
  align-self: baseline;
  border: 3px solid #1b7ff3;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
}

.timeline-track {
  flex-grow: 1;
  background-color: #dee2e6;
  width: 2px;
}

.timeline-date {
  font-size: 14px;
  font-style: italic;
  padding-left: 5px;
}

.heighlight {
  background-color: #1b7ff3;
  box-shadow: 0 4px 8px #8db8e4;
}

.heighlight2 {
  background-color: #ec971f;
  box-shadow: 0 4px 8px #f0ad4e;
}

.heighlight3 {
  background-color: #bb0502;
  box-shadow: 0 4px 8px #843534;
}

.heighlight4 {
  background-color: #05AE0E;
  box-shadow: 0 4px 8px #6dc030;
}

//.timeline{
//  display: contents;
//  align-items: center;
//  justify-content: center;
//}

